<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Sample App</title>
</head>
<body>
  <h1>Hello World!!!</h1>
  <h2> こんにちは {{ .data }} </h2>

  <!-- 投稿フォーム -->
  <h2>Todo 投稿フォーム ✌(’ω’✌ )三✌(’ω’)✌三( ✌’ω’)✌ </h2>

  <form method="post" action="/new">
    <p> やること <input type="text" name="text" size="30" placeholder="Todo を入力してください"> </p>
    <p> status
        <select name="status">
          <option value="まだ">まだ</option>
          <option value="いま、やってるって!">いま、やってるって!</option>
          <option value="オワタ">＼(^o^)／</option>
        </select>
    </p>

    <p> <input type="submit" value="送信!!"> </p>
  </form>

  <!-- <div> {{ .todo }} </div> -->

  <p> ⬇️  todos </p>

  <!-- <div> {{ .todos }} </div> -->

  <ul>
    {{ range .todos }}
    <li> やること: {{ .Text }} | status: {{ .Status }} </li>
    {{ end }}
  </ul>

</body>
</html>
