<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <title>Sample App</title>
</head>
<body>

  <div class="mx-auto mt-5" style="width: 75%;">

    <h1>Todo App ✌(’ω’✌ )三✌(’ω’)✌三( ✌’ω’)✌ </h1>

    <!-- 投稿フォーム -->
    <h2>投稿フォーム</h2>

    <form method="post" action="/new">
      <div class="form-group">
        <label for="todoTitleInput">やること:</label>
        <input type="text" name="title" size="15" class="form-control" id="exampleFormControlInput1" placeholder="Todo を入力してください">
        <small id="textHelp" class="form-text text-muted">Todo 管理してえらい。</small>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">追加の説明 (なくても良):</span>
        </div>
        <textarea name="description" class="form-control" aria-label="With textarea" placeholder="詳細がある場合は、ここに記載"></textarea>
      </div>

      <button type="submit" class="btn btn-primary mb-2">送信!</button>
    </form>

    <!-- TODO 一覧 -->
    <p class="m-3"> ⬇️ Your todos </p>

    <ul>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">やること</th>
            <th scope="col">詳細</th>
            <th scope="col">おわった?</th>
            <th scope="col">detail へ</th>
          </tr>
        </thead>
        <tbody>
          {{ range .todos }}
          <tr>
            <th scope="row">{{ .ID }}</th>
            <td>{{ .Title }}</td>
            <td>{{ .Description }}</td>
            <td>{{ .Done }}</td>
            <td><label><a href="/detail/{{.ID}}">編集</a></label></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </ul>
  </div>
</body>
</html>
